body {
  font-size: 1.13rem;
  line-height: 1.8
}

html {
  scroll-behavior: smooth;
}

code {
  color: var(--bs-gray-400);
  font-size: 1.13rem;

  .keyword {
    color: var(--bs-orange);
  }

  .start-text {
    color: var(--bs-purple);
  }

  .comment {
    color: var(--bs-gray-600);
  }
}

.container-hero,
.container-blog {
  max-width: 960px;
  margin-inline: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--bs-blue) !important;
}

.table-contents a {
  color: var(--bs-gray-600);
}

.table-contents li {
  margin-block: .5rem;
}

.name-initial {
  color: var(--bs-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bs-purple);
}